/* header */
header {
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
    background: #2A9D8F;
}

.header_logo {
    vertical-align: middle;
    margin-right: 857px;
    width: 46px;
    height: 46px;
}

.header_nav {
    display: inline-block;
    vertical-align: middle;
}

.header_list {
    display: inline-block;
}

.item {
    margin-inline: 47px;
}

.link {
    color: #FFF;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
}

/* article1 */
article {
    width: 780px;
    margin: 200px auto;
}

.article1_h2 {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.24px;
}

.article1_text1 {
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.1px;
    margin: 60px 0 52px 0;
}

.article1_text2 {
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.2px;
}

